@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: black;
  background-color: #1b2024;
}

.title {
  text-align: center;
  margin-bottom: 50px; 
  margin-top: 50px;
  font-size: 2rem;
  color: white;
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.445);
  gap: 50px;
}

.event {
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
}

.event img {
  width: 50px;
  height: auto;
  background-color: white;
}

.match {
  text-align: center;
  background-color: white;
  padding: 20px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
}

.teams {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin: 20px 0;
}

.team {
  flex: 1;
  text-align: center;
  background-color: white;
}

.team img {
  width: 50px;
  height: auto;
  background-color: white;
}

.maps, .time {
  font-size: 16px;
}

h2, p {
  background-color: white;
}

.navbar {
  padding: 10px 0; 
}

.navbar ul {
  list-style: none; 
  display: flex; 
  justify-content: center; 
}

.navbar li {
  margin: 0 20px; 
}

.navbar a {
  text-decoration: none; 
  color: white; 
  font-weight: bold; 
  transition: color 0.3s; 
}

.navbar a:hover {
  color: #0051ff; 
}

